/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "~nativescript-theme-core/css/core.light.css";


.submit-button {
  background-color: #6cc780;
  box-shadow: 0 06px 3px 0 rgba(0, 0, 0 0.2), inset 0 0 0 0 #47b960;
  color: white;
}

ActionBar,
.action-bar {
  background-color: #0092a8;
  box-shadow: 0 0 4px 1px rgba(#413741, 0.3);
  color: white;
}

.page {
  align-items: center;
  flex-direction: column;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

#searchBar {
  border-bottom-width: 2;
  border-color: white;
  padding-bottom: 5px;
}

.search {
  margin-bottom: 40px;
}

.saved-confirm {
  font-weight: bold;
  color: #47b960;
}

.detailPage {
  margin-top: 80px;
}

.formLabel {
  padding-bottom: 5px;
}

.url-button {
  background-image: url("res://open_url");
  background-repeat: no-repeat;
}

.copy-button {
  background-image: url("res://copy");
  background-repeat: no-repeat;
}

.copied-button {
  background-image: url("res://check");
  background-repeat: no-repeat;
}

.dice {
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  margin-top: -16; 
  padding: 0;
}


.eye-button {
  background-image: url("res://eye");
  background-repeat: no-repeat;
}

.eye-slash-button {
  background-image: url("res://eye_slash");
  background-repeat: no-repeat;
}

.icons {
  margin-top: -10; 
}

.detailInput {
  margin-top: -50px;
  margin-bottom: -50px;
  background-color: white;
}

.urlInput {
    width: 78%;
}

.landscape .urlInput {
    width: 84%;
}


.userInputNew {
  width: 100%;
}

.newPasswordInput {
width: 50%;
}

.tabletUserInput, {
width: 74%; 
}

.userInput {
  width: 74%;
}

.landscape .userInput,
.landscape .tabletUserInput {
  width: 82%;
}

.passwordInput {
    width: 59%;
}

.tabletPasswordInput {
  width: 59%;
}

.landscape .passwordInput,
.landscape .tabletPasswordInput {
    width: 70%;
} 

#searchBar {
  border-bottom-width: 2;
  border-color: white;
  padding-bottom: 5px;
}

.search {
  margin-bottom: 40px;
}


.fab-button {
  height: 70;
  width: 70;
  margin: 15;
  background-color: #0092a8;
  horizontal-align: right;
  vertical-align: bottom;
}
